<h1><center> Welcome to the Makers AirBnb</h1></center>
<h2><center> A site created by amateurs</h2></center>

<div>
<a href="/sign_up"><center>sign up</center></a>
<p></p>
<a href="/login"><center>login</a></center>
</div>

